/*
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
*/

/*
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
*/

/*
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

/*section {
	padding: 0;
}*/

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0;
}

img {
  margin: 0 !important;
  border: none;
  border-radius: 5px;
}

/*
a {
	color: #dd5566 !important;
}
*/

.lista li {
  font-size: 2rem;
}

/*.claro li a, .claro a {
	
}*/

section section {
  height: 1080px;
  width: 1080px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

section section .quadrado {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 100%;
}

section section .quadrado a {
  text-decoration: none;
}

section section .quadrado a h1 {
  font-size: 4rem;
  font-family: ubuntu;
  margin: 0 0 3rem !important;
  display: block;
  color: #051122;
  text-decoration: none;
}

.boitata section {
  background: -webkit-gradient(linear, left top, right bottom, from(#9c1420), to(#000000));
  background: linear-gradient(to bottom right, #9c1420, #000000);
}

.vivala section {
  background: -webkit-gradient(linear, left top, right bottom, from(#facfb7), to(#f16f2b));
  background: linear-gradient(to bottom right, #facfb7, #f16f2b);
}

.alabamaot section {
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(#051122));
  background: linear-gradient(to bottom right, white, #051122);
}

.tesseract section {
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(black));
  background: linear-gradient(to bottom right, white, black);
}

.img-mobile {
  width: 400px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.img-desktop {
  width: 900px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

