/*
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
*/

/*
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
*/

/*
// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

/*section {
	padding: 0;
}*/

.reveal .slides > section,
.reveal .slides > section > section {
  padding: 0;
}

img {
  margin: auto !important;
  border: none;
  border-radius: 5px;
}

/*
a {
	color: #dd5566 !important;
}
*/

.lista li {
  font-size: 2rem;
}

/*.claro li a, .claro a {
	
}*/

section section {
  height: 1080px;
  width: 1080px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

section section .quadrado {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  width: 100%;
}

.vivala section {
  background: -webkit-gradient(linear, left top, right bottom, from(#facfb7), to(#f16f2b));
  background: linear-gradient(to bottom right, #facfb7, #f16f2b);
}

.tesseract section {
  background: -webkit-gradient(linear, left top, right bottom, from(white), to(black));
  background: linear-gradient(to bottom right, white, black);
}

.mobile {
  width: 400px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

