body {
	position: relative;
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	padding: 1rem 0 0 1rem;
	@media (max-width: 991.98px) { padding: 0.5rem 0 0 0.5rem; }
	z-index: 2000;

	h1 {
		font-family: $font-family-jaapokki-regular;
		margin: 0 0 1rem;
		font-weight: 500;
	}

	p {		
		font-family: $font-family-edmondsans-regular;
		font-size: 2rem;
		margin: 0 0 1rem;
		color: black;
	}

	a , a:link, a:visited, a:hover, a:active {
		display: block;	
		color: black;
		text-decoration: none;

		i, p {
			display: inline-block;
		}

		i {
			width: 36px;
			text-align: center;
			margin-right: 0.5rem;
		}

		p {			
			text-decoration: underline;
		}

		&:hover, &:active {
			i, p {
				color: gray;				
			}
		}
	}

	.viuva {
		display: none;
	}

	#hrefLink {
		p {
			text-decoration-color: #FF6147;
		}

		i {
			color: #FF6147;
		}
	}

	@media (max-width: 991.98px) {
		.links-header {
			display: none;
		}

		.viuva {
			display: block;
		}
	}
}

.img-logo {
	position: absolute;
	right: 0;
	top: 0;
	padding: 1rem 1rem 0 0;
	@media (max-width: 991.98px) { padding: 0.5rem 0.5rem 0 0; }
	z-index: 2000;

	img {
		width: 80px;
		@media (max-width: 991.98px) { width: 50px; } 
	}
}

.button-hide {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 0 0 1rem 1rem;
	@media (max-width: 991.98px) { padding: 0 0 0.5rem 0.5rem; }
	z-index: 2000;
}