/*section {
	padding: 0;
}*/

.reveal .slides > section,
.reveal .slides > section > section {
	padding: 0;
}

img {
	margin: 0 !important;
	border: none;
	border-radius: 5px;
}
/*
a {
	color: #dd5566 !important;
}
*/
.lista{
	li {
		font-size: 2rem;
	}
}
/*.claro li a, .claro a {
	
}*/

section {
	section {
		height: 1080px;
		width: 1080px !important;
		display: flex !important;
		.quadrado {
			display: flex !important;
			flex-direction: column !important;
			flex-wrap: wrap !important;
			justify-content: center !important;
			align-items: center !important;
			width: 100%;

			a {
				text-decoration: none;

				h1 {
					font-size: 4rem;
					font-family: ubuntu;
					margin: 0 0 3rem !important;
					display: block;
					color: $alabamaot-2;
					text-decoration: none;
				}				
			}
		}
	}
}

.boitata {
	section {
		background: linear-gradient(to bottom right, $boitata-1, $boitata-2);
	}
}

.vivala {
	section {
		background: linear-gradient(to bottom right, $vivala-1, $vivala-2);
	}
}

.alabamaot {
	section {
		background: linear-gradient(to bottom right, $alabamaot-1, $alabamaot-2);
	}
}

.tesseract {
	section {
		background: linear-gradient(to bottom right, $tesseract-1, $tesseract-2);
	}
}

.img-mobile {
	//width: 200px;
	width: 400px;
	// Site de referência das box-shadow:
	// https://codepen.io/sdthornton/pen/wBZdXq

	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	//box-shadow: 0 19px 38px rgba(0,0,0,1), 0 15px 12px rgba(0,0,0,1) !important;
	//box-shadow: 0 38px 76px rgba(0,0,0,1), 0 30px 24px rgba(0,0,0,1) !important;
}

.img-desktop {
	//width: 200px;
	width: 900px;
	// Site de referência das box-shadow:
	// https://codepen.io/sdthornton/pen/wBZdXq

	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	//box-shadow: 0 19px 38px rgba(0,0,0,1), 0 15px 12px rgba(0,0,0,1) !important;
	//box-shadow: 0 38px 76px rgba(0,0,0,1), 0 30px 24px rgba(0,0,0,1) !important;
}

