/*section {
	padding: 0;
}*/

.reveal .slides > section,
.reveal .slides > section > section {
	padding: 0;
}

img {
	margin: auto !important;
	border: none;
	border-radius: 5px;
}
/*
a {
	color: #dd5566 !important;
}
*/
.lista{
	li {
		font-size: 2rem;
	}
}
/*.claro li a, .claro a {
	
}*/

section {
	section {
		height: 1080px;
		width: 1080px !important;
		display: flex !important;
		.quadrado {
			display: flex !important;
			width: 100%;
		}
	}
}

.vivala {
	section {
		background: linear-gradient(to bottom right, $vivala-laranja-1, $vivala-laranja-2);
	}
}

.tesseract {
	section {
		background: linear-gradient(to bottom right, $tesseract-branco, $tesseract-preto);
	}
}

.mobile {
	//width: 200px;
	width: 400px;
	// Site de referência das box-shadow:
	// https://codepen.io/sdthornton/pen/wBZdXq

	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	//box-shadow: 0 19px 38px rgba(0,0,0,1), 0 15px 12px rgba(0,0,0,1) !important;
	//box-shadow: 0 38px 76px rgba(0,0,0,1), 0 30px 24px rgba(0,0,0,1) !important;
}