$boitata-1: #9c1420;
$boitata-2: #000000;
$boitata-3: black;

$vivala-1: #facfb7;
$vivala-2: #f16f2b;

$tesseract-1: white;
$tesseract-2: black;

$alabamaot-1: white;
$alabamaot-2: #051122;
/*
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
*/