$vivala-laranja-1: #facfb7;
$vivala-laranja-2: #f16f2b; 
$vivala-laranja: #f16f2b;

/*
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
*/